<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>JavaWar | Crear Guerrero</title>
    
        
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" th:href="@{assets/css/noscript.css}" /></noscript>
   
</head>
<body>
<!--     <form th:action="@{/guerreros/guerrero/guardar}" th:object="${guerrero}" method="post"> -->
<!--         <h2>Añadir Guerrero</h2> -->

<!--         <label>Nombre:</label> -->
<!--         <input type="text" th:field="*{nombre}" required /> -->

<!--         <label>Tipo:</label> -->
<!--         <select th:field="*{tipo}"> -->
<!--             <option value="T1">T1</option> -->
<!--             <option value="T2">T2</option> -->
<!--             Más tipos si necesitas -->
<!--         </select> -->

<!--         <label>Fuerza Base:</label> -->
<!--         <input type="number" th:field="*{fuerzaBase}" required /> -->

<!--         <label>Resistencia:</label> -->
<!--         <input type="number" th:field="*{resistencia}" required /> -->

<!--         <button type="submit">Guardar</button> -->
    </form>
</body>
</html>