<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="UTF-8">
<title>JavaWar | Crear Vehículos</title>

<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
<noscript>
	<link rel="stylesheet" th:href="@{/assets/css/noscript.css}" />
</noscript>

</head>

<body>
	<div id="wrapper">
		<section class="container-cuenta">
			<div class="content-count">
				<img th:src="@{/assets/img/user-circle.svg}" alt="Usuario"
					class="user-icon" width="32" /> <span th:if="${usuarioLogueado}"
					th:text="'¡Hola, ' + ${usuarioLogueado.usuario} + '!'">¡Hola,
					invitado!</span>
			</div>

			<div class="container-logout">
				<form th:action="@{/logout}" method="post">
					<button type="submit">Cerrar sesión</button>
				</form>
			</div>
		</section>

		<main id="crear-vehiculo-form">
			<!-- crear-guerrero -->
			<section id="crear-vehiculos<">
				<h2 class="major">Crea tus vehículos</h2>
				<form th:action="@{/vehiculos}" th:object="${vehiculo}"
					method="post">
					<div class="field">
						<label for="nombreVehiculo">Nombre</label> 
						<input type="text" th:field="*{nombreVehiculo}" id="nombreVehiculo" placeholder="Ej. Destructor X9"/>
						<p th:if="${#fields.hasErrors('nombreVehiculo')}"
							th:errors="*{nombreVehiculo}" class="error-message"></p>
					</div>

					<div class="field">
						<label for="puntosVida">Vida</label> 
						<input type="number" th:field="*{puntosVida}" id="puntosVida" />
						<p th:if="${#fields.hasErrors('puntosVida')}"
							th:errors="*{puntosVida}" class="error-message"></p>
					</div>

					<div class="field half">
						<label for="ataqueBase">Fuerza</label> 
						<input type="number" th:field="*{ataqueBase}" id="ataqueBase" />
						<p th:if="${#fields.hasErrors('ataqueBase')}"
							th:errors="*{ataqueBase}" class="error-message"></p>
					</div>
					<div class="field half">
						<label for="defensaBase">Defensa</label> 
						<input type="number" th:field="*{defensaBase}" id="defensaBase" />
						<p th:if="${#fields.hasErrors('defensaBase')}"
							th:errors="*{defensaBase}" class="error-message"></p>
					</div>


					<div class="field">
						<input type="radio" th:field="*{tipoVehiculo}" value="Nave"	id="tipoT1" /> 
						<label for="tipoT1">Nave</label> 
						
						<input type="radio" th:field="*{tipoVehiculo}" value="Tanque" id="tipoT2" />
						<label for="tipoT2">Tanque</label>
						<p th:if="${#fields.hasErrors('tipoVehiculo')}"	th:errors="*{tipoVehiculo}" class="error-message"></p>
					</div>

					<div class="field">
						<ul class="actions">
							<li><input type="submit" value="Añadir" class="primary" /></li>
							<li><input type="reset" value="Borrar" /></li>
						</ul>
					</div>

				</form>

				<a th:href="@{/vehiculos/listado}" class="button">Volver al
					listado</a>

				<div class="error-container">
					<p th:if="${error}" class="error-message" th:text="${error}"></p>
					<p th:if="${success}" class="success-message" th:text="${success}"></p>
				</div>

			</section>

		</main>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">
				&copy; JavaWar: <a href="https://daroscode.es">DarosCode</a>.
			</p>
		</footer>

	</div>

	<!-- Scripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/browser.min.js}"></script>
	<script th:src="@{/assets/js/breakpoints.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>