<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{assets/css/login-style.css}" />
</head>

<body>
    <h2>¡Logueate y batalla con nosotros!</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form th:action="@{/registrarUsuario}" th:object="${usuarioBean}" method="POST">
                <h1>Crear una cuenta</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="assets/img/brand-facebook.svg" alt="icon Facebook"></a>
                    <a href="#" class="social"><img src="assets/img/brand-google.svg" alt="icon Google"></a>
                    <a href="#" class="social"><img src="assets/img/brand-linkedin.svg" alt="icon linkedInd"></a>
                </div>
                <span>O usa una cuenta para registrarte</span>
                <input type="text" th:field="*{usuario}" placeholder="Usuario" />
                <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class="error"></p>
                
                <input type="email" th:field="*{email}" placeholder="Email" />
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
                
                <input type="password" th:field="*{contrasenia}" placeholder="Contraseña" />
               	<p th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}" class="error"></p>
               	
                <button>Registrarte</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form th:action="@{/login}" th:object="${loginBean}" method="POST">
                <h1>Iniciar sesión</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="assets/img/brand-facebook.svg" alt="icon Facebook"></a>
                    <a href="#" class="social"><img src="assets/img/brand-google.svg" alt="icon Google"></a>
                    <a href="#" class="social"><img src="assets/img/brand-linkedin.svg" alt="icon LinkedInd"></a>
                </div>
                <span>O usa tus cuentas</span>
                
                <input type="text" th:field="*{usuario}" placeholder="Usuario" />
                <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class="error"></p>
                
                <input type="password" th:field="*{contrasenia}" placeholder="Contraseña" />
                <p th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}" class="error"></p>
                
                <a href="#">¿Olvidaste la contraseña?</a>
                <button>Entrar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>¡Bienvenido de nuevo!</h1>
                    <p>Manténte conectado con nosotros para acceder a tu área personal</p>
                    <button class="ghost" id="signIn">Entrar</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>¡Hey, amigo!</h1>
                    <p>Entra a tu área personal y mira todos los detalles de tu cuenta</p>
                    <button class="ghost" id="signUp">Entrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="error-container">
        <p th:if="${error}" class="error-message" th:text="${error}"></p>
        <p th:if="${logout}" class="success-message" th:text="${logout}"></p>
   </div>

    <footer>
        <p>
            Creado con <i class="fa fa-heart"></i> por
            <a target="_blank" href="https://daroscode.es">&copy; 2025. Samuel y Ricardo - Java war web</a>
            - Todos los derechos reservados
        </p>
    </footer>

    <script src="assets/js/login.js"></script>

</body>

</html>